.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222;
  color: #fff;
  width: 100%;
  position: fixed;
}

.headerTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.headerButtons {
  display: flex;
  gap: 15px;
}

.headerButton {
  padding: 10px 20px;
  background-color: #9b4dca;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.headerButton:hover {
  background-color: #7e3d9f;
}

.headerButton:focus {
  outline: none;
}
