.taskListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #1c1c1c;
}

.taskListHeading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.sortAndFilterContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.sortLabel,
.priorityFilterLabel {
  color: #fff;
  margin-right: 10px;
}

.sortDropdown,
.priorityFilterDropdown {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  width: 200px;
}

.taskList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.taskCard {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.taskCard h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #9b4dca;
}

.taskCard p {
  margin-bottom: 10px;
}

/* Task Action Buttons */
.taskActions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.taskActions button {
  padding: 8px 16px;
  background-color: #9b4dca;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.taskActions button:hover {
  background-color: #7e3d9f;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.sortLabel {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 10px;
}

.priorityFilterLabel {
  font-size: 1.2rem;
  color: #fff;
  margin-right: 10px;
}

.sortSelect,
.prioritySelect {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #fff;
  width: 250px;
  cursor: pointer;
}

.sortSelect:hover,
.prioritySelect:hover {
  border-color: #9b4dca;
}

.sortSelect:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.sortButton {
  background-color: #9b4dca;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sortButton:hover {
  background-color: #7e3d9f;
}

/* Search bar styling */
.searchContainer {
  margin-bottom: 20px;
  display: flex;
  width: 60%;
  justify-content: flex-start;
}

.searchInput {
  padding: 10px;
  width: 100%;

  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 10px 0;
}
